* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

@font-face {
    font-family: "Minecraft Font";
    src: url("./minecraft-font.ttf") format("truetype");
}

.container {
    width: 100%;
    background: #f6f6f6;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, chocolate, rgba(0, 0, 0, 1));
    color: white;
    font-size: 20px;
    box-shadow: 1px 2px 3px white;
    padding: 30px 60px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    border: 1px solid green;
    box-shadow: 1px 5px 5px green;
    border-radius: 10px;
    color: green;
    transition: border-radius 1s ease;
}

.menu-photo {
    width: 100%;
    height: 100vh;
    background: url('./img/menu.jpg')no-repeat center center/cover;
    position: relative;
}